@import '~styles/utils.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.PrivacyPolicyPaper {
    font-family: 'Open Sans', sans-serif;
    line-height: 2rem;

    background: rgba(241, 243, 245, 0.3);

    padding-left: 7rem;
    padding-right: 7rem;

    @include media('<=medium') {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    height: 100%;
    overflow-y: auto;

    color: black;
}
