@import '~styles/utils.scss';

.Menu {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 20px;
    right: 30px;
    background: rgba(241, 243, 245, 0.75);
    color: #fff;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;

    display: flex;
    justify-content: center;
    align-items: center;
}
